# Ignore node modules
node_modules/

# Ignore Salesforce config and local env files
.sfdx/
.env
*.log
.sf/

# Ignore VS Code settings
.vscode/

# Ignore macOS system files
.DS_Store

# Ignore Salesforce local org configurations
sf/orgs/

# Ignore macOS system file
.DS_Store
force-app/main/default/.DS_Store